<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h1><b>Onkar Renukar</b></h1>
            <h4><b>orenukar@omniscient.co.in</b></h4>
        </div>
        <img src="https://media.istockphoto.com/vectors/user-icon-vector-male-person-symbol-profile-circle-avatar-sign-in-vector-id951316044?k=6&m=951316044&s=170667a&w=0&h=H87MlTLGmJIJexLf9GG7lHKSFEiYIBrsemo-uuHLHl8=" alt="Onkar Renukar">
    </div>
   
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLink='/' routerLinkActive="list-item-active" >
        <mat-icon>home</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLink='/posts' routerLinkActive="list-item-active" >
        <mat-icon>local_post_office</mat-icon>
        Post
    </a>
    <a mat-list-item routerLink='/articles' routerLinkActive="list-item-active">
        <mat-icon>crop_free</mat-icon>
        Articles
    </a>
    
    <mat-divider></mat-divider>
   
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>